article{
    // display: flex;
    // flex-direction: column;
    display: block;
    height: calc(100vh - 8px);
    width: calc(100vw - 16px);
    // height: 100vh;
    // width: 100vw;
    box-sizing: border-box;
    margin: 0;

    aside{
        width: 100%;
        display: flex;
        height: calc(100% - 58px);
        .child{
            flex-grow: 1;
        }
    }
}