article{
    display: block;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    aside{
        width: 100%;
        display: flex;
        height: calc(100% - 58px);
        .child{
            flex-grow: 1;
        }
    }
}